body {
    background-color:#DB424F;
}

.outline {
    background-color: #242424;
    color: white;
}

div {
    background-color:#242424;
    margin:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btextcenter {
    color:white;
    text-align: center;
    font-family: monospace;
    font-size: 120%;
}

.btexttitle {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 300%;
}

a {
    font-family: monospace;
    background-color: white;
    color:#242424
}

a:hover {
    font-family: monospace;
    background-color: wheat;
    color: #121212
}

pre {
    color:white;
    font-family: monospace;
    font-size: 120%;
}

.rotate:hover {
    transform: rotate(45deg);
}

.footer {
    position: fixed;
    top:95%;
    background-color:#242424;
}